<?xml version="1.0" encoding="utf-8"?>
<title>白简动漫</title>
<icon>icon.png</icon>
<packageName>com.cjzwjdm</packageName>
<versionName>3.635</versionName>
<versionint>300</versionint>
<sdk>21</sdk>
<yuv>3</yuv>
<remark></remark>
<Permissions>android.permission.READ_EXTERNAL_STORAGE
android.permission.WRITE_EXTERNAL_STORAGE
android.permission.INTERNET</Permissions>
<createTime>2021-01-08 23:16:08</createTime>
<upTime>2021-01-08 23:16:08</upTime>